$first-place: #e4ede0;
$first-place-dark: darken($first-place, 15%);
$first-place-darker: darken($first-place, 25%);
$second-place: #dfe7ed;
$second-place-dark: darken($second-place, 15%);
$second-place-darker: darken($second-place, 25%);
$third-place: #eddfdf;
$third-place-dark: darken($third-place, 15%);
$third-place-darker: darken($third-place, 25%);
$white: #fff;
$btn-border: #b1b1b1;
$btn-hov-focus-background: #e8e8e8;
$btn-act-background: #ccc;
$body-back: #f2f2f2;
$body-color: #555;
$frm-inp-brd: #ececec;
$generic-space: 1.3rem;
$font-weight-normal: 300;