.form {
  display: flex;
  &__input {
    flex-grow: 1;
    padding: 0 $generic-space;
    @include rounded;
    outline: none;
    border: 1px solid $frm-inp-brd;
    color: $body-color;

    &:active, &:focus {
      outline: none;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #d4d4d4;
      font-style: italic;
      font-size: 1.5rem;
      opacity: 1; /* Firefox */
    }
  
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: 1.5rem;
      color: #d4d4d4;
      font-style: italic;
    }
  
    &::-ms-input-placeholder { /* Microsoft Edge */
      font-size: 1.5rem;
      color: #d4d4d4;
      font-style: italic;
    }
  }
}